<h1>Name: <%= @bachelorette.name %> </h1>
<h1>Season: <%= @bachelorette.season_number %> </h1>
<h1>Description: <%= @bachelorette.description %> </h1>
<h1>Description: <%= @bachelorette.contestants_average_age %> </h1>
<h2><%= link_to "My Contestants", bachelorette_contestants_path(@bachelorette)%></h2>
